@{
    ViewData["Title"] = "Juego";
    Layout = "_Layout";
}


<div class="juego-unity-page">
    <div class="unity-frame-box">
        <iframe 
            src="/Prueba1Juego/index.html?v=70"
            class="unity-iframe"
            scrolling="no"
            allowfullscreen>
        </iframe>
    </div>
</div>