@{
    ViewData["Title"] = "Home Page";
}


<!--contenedor donde va la lista de usuarios-->
        <div class ="container col-9">
        
            <!--fila de usuario-->
            <div class="card p-2 mb-2 border-light rounded-4" style="background: #9ec8ef;">
                <div class="d-flex align-items-center justify-content-between">
                    
                    <div class="d-flex align-items-center gap-3 w-100">
                    <img src="usuario.jpg" class="rounded-circle" width="50">
                    
                    <div>
                        <h6 class="mb-0 ">Jordan Smith</h6>
                        <small class="text-muted">12,543 puntos</small>
                    </div>
                    <span class="text-muted ms-auto fs-6">TOP 1</span>
                    </div>
                </div>
            </div>

            
            <div class="card p-2 mb-2 border-light rounded-4" style="background: #9ec8ef;">
                <div class="d-flex align-items-center justify-content-between">
                    
                    <div class="d-flex align-items-center gap-3 w-100">
                    <img src="usuario.jpg" class="rounded-circle" width="50">
                    
                    <div>
                        <h6 class="mb-0 ">Jordan Smith</h6>
                        <small class="text-muted">12,543 puntos</small>
                    </div>
                    <span class="text-muted ms-auto fs-6">TOP 1</span>
                    </div>
                </div>
            </div>

            <div class="card p-2 mb-2 border-light rounded-4" style="background: #9ec8ef;">
                <div class="d-flex align-items-center justify-content-between">
                    
                    <div class="d-flex align-items-center gap-3 w-100">
                    <img src="usuario.jpg" class="rounded-circle" width="50">
                    
                    <div>
                        <h6 class="mb-0 ">Jordan Smith</h6>
                        <small class="text-muted">12,543 puntos</small>
                    </div>
                    <span class="text-muted ms-auto fs-6">TOP 1</span>
                    </div>
                </div>
            </div>

            <div class="card p-2 mb-2 border-light rounded-4" style="background: #9ec8ef;">
                <div class="d-flex align-items-center justify-content-between">
                    
                    <div class="d-flex align-items-center gap-3 w-100">
                    <img src="usuario.jpg" class="rounded-circle" width="50">
                    
                    <div>
                        <h6 class="mb-0 ">Jordan Smith</h6>
                        <small class="text-muted">12,543 puntos</small>
                    </div>
                    <span class="text-muted ms-auto fs-6">TOP 1</span>
                    </div>
                </div>
            </div>


            <div class="card p-2 mb-2 border-light rounded-4" style="background: #9ec8ef;">
                <div class="d-flex align-items-center justify-content-between">
                    
                    <div class="d-flex align-items-center gap-3 w-100">
                    <img src="usuario.jpg" class="rounded-circle" width="50">
                    
                    <div>
                        <h6 class="mb-0 ">Jordan Smith</h6>
                        <small class="text-muted">12,543 puntos</small>
                    </div>
                    <span class="text-muted ms-auto fs-6">TOP 1</span>
                    </div>
                </div>
            </div>

            <div class="card p-2 mb-2 border-light rounded-4" style="background: #9ec8ef;">
                <div class="d-flex align-items-center justify-content-between">
                    
                    <div class="d-flex align-items-center gap-3 w-100">
                    <img src="usuario.jpg" class="rounded-circle" width="50">
                    
                    <div>
                        <h6 class="mb-0 ">Jordan Smith</h6>
                        <small class="text-muted">12,543 puntos</small>
                    </div>
                    <span class="text-muted ms-auto fs-6">TOP 1</span>
                    </div>
                </div>
            </div>

            <div class="card p-2 mb-2 border-light rounded-4" style="background: #9ec8ef;">
                <div class="d-flex align-items-center justify-content-between">
                    
                    <div class="d-flex align-items-center gap-3 w-100">
                    <img src="usuario.jpg" class="rounded-circle" width="50">
                    
                    <div>
                        <h6 class="mb-0 ">Jordan Smith</h6>
                        <small class="text-muted">12,543 puntos</small>
                    </div>
                    <span class="text-muted ms-auto fs-6">TOP 1</span>
                    </div>
                </div>
            </div>
